container_commands:
  02_ffmpeg:
    command: "sudo wget https://www.johnvansickle.com/ffmpeg/old-releases/ffmpeg-4.2.1-amd64-static.tar.xz"
  03_ffmpeg:
    command: "sudo wget https://www.johnvansickle.com/ffmpeg/old-releases/ffmpeg-4.2.1-amd64-static.tar.xz.md5"
  04_ffmpeg:
    command: "sudo tar xvf ffmpeg-4.2.1-amd64-static.tar.xz"
  05_ffmpeg:
    command: "sudo mv ffmpeg-4.2.1-amd64-static/ffmpeg ffmpeg-4.2.1-amd64-static/ffprobe /usr/local/bin"
  01_install_opengl:
    command: "sudo yum install -y mesa-libGL mesa-libGL-devel mesa-libGLU mesa-libGLU-devel"